/*BASE*/
* {
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    color: white;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    color: aliceblue;
}


/*ADMIN*/
.container {
    display: flex;
    background-color: darkgreen;
}

.opciones_admin {
    display: flex;
    flex-direction: column;
    padding: 30px;  
}

.opciones_admin .enlaces h2 {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 72, 72); 
}


.links{  
    display: flex;
    justify-content: left;
    flex-direction: column;
    text-align: center;
    background-color: rgb(37, 34, 34);
    padding: 15px;
    width: 120px;
}

.links a{
    color: white;
    text-decoration: none;
}

.links a:hover{
    color: rgb(148, 1, 1);
}

.divform {
    justify-content: center;
}

/*formularios*/

.formulario {
    background-color: rgb(120, 160, 95);
}

.formulario legend{
    color: black;
    background-color: rgb(255, 255, 255);
}

input {
    font-size: 18px;
}

select {
    font-size: 18px;
}

#boton {
    padding: auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}

#boton:hover {
    padding: auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
}


/*PROFESORES*/
/*LISTA*/
.nuevo {
    background-color: rgb(129, 177, 58);
    color: aliceblue;
    border-color: black;
    font-size: 20px;
    text-decoration: none;
}

.nuevo:hover{
    background-color: aliceblue;
    color: rgb(129, 177, 58);
    border-color: black;
    font-size: 20px;    
}

.filtro {
    background-color: rgb(188, 3, 157);
    color: aliceblue;
    border-color: black;
    font-size: 20px;
    text-decoration: none;
}

.filtro:hover {
    background-color: aliceblue;
    color: rgb(188, 3, 157);
    border-color: black;
    font-size: 20px;   
}

.Tabla {
    background-color: black;
}

.encabezado {
    color: azure;
    background-color: brown;
}

.encabezado2 {
    color: azure;
    background-color: rgb(37, 33, 123);
}

.encabezado3 {
    color: rgb(0, 0, 0);
    background-color: rgb(238, 255, 0);    
}

.Tabla td{
    color: black;
    background-color: azure;
}








/*PAGINA INICIO*/
.eventosInicio {
    border-radius: 20px;
}

.eventosInicio th{
    background-color: mediumpurple;
    border-radius: 10px 10px 0px  0px ;    
}

.eventosInicio td{
    background-color: rgb(255, 255, 255);
    color: black;
}

.titulo {
    font-size: 20px;
}

























































/*FOOTER*/

.footer{
    color: white;
    background-color: black;  
    padding: 50px 0;
}

.contenedor-footer {
    flex-wrap: wrap;
    display: flex;
}

.contactos {
    color: white; 
}

.redes {
    width: 25%;
    padding: 0 50px;
}

