{% extends 'base.html' %} 
{% block title%}Lista de alumnos | filtro Resultado{% endblock %} 
{% block content %}
    <h2>Resultado de la filtración</h2>
            <p>Grado: {{grado}}</p>
            <p>Seccion: {{seccion}}</p>                            

            {%if listaFiltrada%}
                <ul>
                    {%for info in listaFiltrada%}
                        <li>{{info.id}}</li>
                    {% endfor %}                    
                </ul>
            {%else%}
                <p>No se encontraron resultados</p>
            {%endif%}    
    <br /><br />
{% endblock %}