{% extends 'base.html' %}
{% block title%}Administracion de salones{% endblock %}
{%block content%}  

<div class="opciones_admin">
    <div class="enlaces">
        <h2>Alumnos: </h2>
        <a href="{{url_for('listaAlumnos')}}">Lista de alumnos</a><br/>
        <a href="{{url_for('formularioAlumnos')}}">Registrar</a><br/>
        <a href="{{url_for('borrarAlumnos')}}">Borrar alumno de la lista</a><br/>
        <a href="{{url_for('actAlumnos')}}">Actualizar información</a><br/>
    </div>
    <br/><br/><br/>

    <div class="enlaces">
        <h2>Profesores: </h2>
        <a>Lista de profesores</a><br/>
        <a href="{{url_for('formularioProfesor')}}">Registrar</a><br/>
        <a>Actualizar información del profesor</a><br/>
        <a>Borrar profesor de la lista</a><br/>
    </div>   
    <br/><br/><br/> 
</div>


{% endblock %}