{% extends 'base.html' %}
{% block title%}Inicio{% endblock %}
{% block content %}

  <div class="inicio_present">
    <h1>Bienvenido</h1><br><br>   
  </div>

    <br><br><br><br><br><br>
  
  <div>
    <h2>Anuncios</h2><br>
    {%if listarEventos%}
        {%for info in listarEventos%}
        <div>
            <table border="0" class="eventosInicio">
              <tr>
                <th colspan="3">{{info.fechaCreacion}}</th>
              </tr>
              <tr>
                <td class="titulo" colspan="3" align="center">{{info.nombreEvento}}</td>
              </tr>
              <tr>
                <td colspan="3">{{info.descripcion}}</td>
              </tr>
              {%if info.lugar%}
              <tr>
                <td colspan="3">Lugar: {{info.lugar}}</td>
              </tr>
              {%else%}
              {%endif%}
              <tr>
                <td>Día: <br>{{info.fechaEvento}}</td>
                <td>Hora: <br>{{info.hora}}</td>  
              </tr>
            </table>
        </div>
        <br>
        {%endfor%}
    {%else%}
        <h3>No hay eventos aún</h3>
    {%endif%}      
  </div>  
  

{% endblock %}   